.thumbnail {
  width:80%;
}

.thumbnail img {
  height: 200px;
  width:100%;
  display: inline-block;
}

#badges + a + ul {
  margin: 10px 0 0;
}

#menus + div ul {
  position: static;
  display: block;
  margin-bottom: 5px;
  clear: left;
}
